body {
    background-color: aquamarine;
}

nav {
    display: flex;
    padding: 50px;
    background-color: blueviolet;
    color: aliceblue;
}


footer {
    background-color: black;
    display: flex;
    
}