body {
    background-color: aquamarine;
}

nav {
    display: flex;
    padding: 50px;
    background-color: blueviolet;
    color: aliceblue;
}



footer {
    background-color: black;
    display: flex;
    


}



#ft1 {

    padding-right: 20px;
    font-weight: bold;
    color: coral;
}

#ft2 {
    color:antiquewhite;

}