body {
    background-color: aquamarine;
}

nav {
    display: flex;
    padding: 50px;
    background-color: blueviolet;
    color: aliceblue;
}










.ft1 {
    padding-right: 20px;
    font-weight: bold;
}

.ft2 {
    color:antiquewhite;
}